<!DOCTYPE html>
<html lang="en">
<title><%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="http://localhost:3003">

<!--Font Awesome-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

<!--jQuery-->
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous"></script>

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Titillium+Web" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

<!--Developer Nav Script-->
<script src="js/developer-nav.js"> </script>

<!--Developer Nav CSS-->
<link rel="stylesheet" href="css/developer-nav.css" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!--Demo Only Scripts-->
<!--Demo main script-->
<script src="js/demo.js"> </script>
<script src="https://js.stripe.com/v3/"></script>

<!--Syntax Highlighter (for demo only)-->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"> </script>
<meta name="description" content="<%= description %>" />
<%-header%>
<body>
  <!-- <header class="dev-head absolute-white sticky">
  <div class="menu-trigger">
  <div class="nav-icon">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
</div>
<!--//menu-trigger-->
<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="navbar-inverse side-collapse in">
      <nav role="navigation" class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#Home">Home</a></li>
          <li><a href="#users">Users</a></li>
          <li><a href="http://placesforlove.com">Places</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="logo d-none d-lg-block">
  <a href="/accueil">
    <img src="img/logo_gris.png" title="Logo">
  </a>
</div>
<nav>
  <ul class="navigation">
    <li class="">
      <span class="dropdown-heading" data-target="/accueil">ACCUEIL</span>
    </li>
    <li class="has-sub">
      <span class="dropdown-heading" data-target="pack-privé">NOUS REJOINDRE</span>
      <ul>
        <li> <a href="#1">Pack privé</a></li>
        <li> <a href="#1">Pack fun</a> </li>
        <li> <a href="#1">Pack champion</a> </li>
      </ul>
    </li>
    <li class="has-sub">
      <span class="dropdown-heading" data-target="pronostic-du-jour">PRONOSTICS</span>
      <ul>
        <li> <a href="#1">Pronostics pack privé</a> </li>
        <li> <a href="#1">Pronostics pack fun</a> </li>
        <li> <a href="#1">Pronostics pack champion</a> </li>
      </ul>
    </li>
    <li class="">
      <span class="dropdown-heading" data-target="historique">HISTORIQUE/BILAN</span>
    </li>
    <li class="">
      <span class="dropdown-heading" data-target="espace-perso">ESPACE PERSO</span>
    </li>
    <li class="">
      <% if(locals.user) { %>
        <span class="dropdown-heading" data-target="deconnexion">DECONNEXION</span>
        <% } else { %>
          <span class="dropdown-heading" data-target="connexion">CONNEXION</span>
          <% } %>
        </li>
      </ul>
    </nav>
    <!-- //logo-->
    <div class="sn-icons d-none d-lg-block">
      <a href="https://www.facebook.com/profile.php?id=100009631203408" target="_blank"><i class="fa fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/youenn_yapronos" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.snapchat.com/add/ya-35" target="_blank"><i class="fa fa-snapchat"></i></a>
    </div>
    <!--//phone -->
    <div class="dev-nav">
      <!-- <ul class="trigger-board">
      <li class="about hvr-radial-out" title="Réseaux"><i class="fa fa-user"></i></li>
      <li class="work hvr-radial-out" title="Qui suis-je ?"><i class="fa fa-industry"></i></li>
      <li class="contact hvr-radial-out" title="Contact"> <i class="fa fa-envelope"></i></li>
      <li class="address hvr-radial-out" title="Quelques chiffres"><i class="fa fa-map"></i></li>
    </ul> -->
    <div class="dev-profile active">
      <img src="img/logo_gris.png" alt="developer dp">
      <div class="social">
        <a href="https://www.facebook.com/profile.php?id=100009631203408" target="_blank"><i class="fa fa-facebook-f fa-lg"></i></a>
        <a href="https://www.instagram.com/youenn_yapronos" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
        <a href="https://www.snapchat.com/add/ya-35" target="_blank"><i class="fa fa-snapchat fa-lg"></i></a>
      </div>
      <!--//social-->
    </div>
    <!--//dev-profile-->
    <div class="dev-work">
      <h6> Qui suis-je? </h6>
      <p><i><br> Gambleur fou, véritable passionné et gestionnaire avisé </i>
        <br><br>Salut, moi c'est Youenn, expert en paris sportifs. C'est ici que je donne conseils et pronostics chaque jour. <br>
        Abonnes toi au club et commences à encaisser aussitôt!

      </p>
    </div>
    <!--//dev-work-->
    <div class="dev-contact-form">
      <h6>Formulaire de contact</h6>
      <form method="get" action="#3">
        <input name="name" type="text" placeholder="Nom">
        <input name="email" type="text" placeholder="Prénom">
        <textarea rows="3"> </textarea>
        <button class="dev-ctn-btn" type="submit">Envoyer</button>
      </form>
    </div><!--//dev-contact-form-->

    <div class="dev-address">
      <h6> Quelques chiffres </h6>
      <br>
      82.9% réussite en saison 2 <br>
      62% ROI moyen sur 2018<br>
      Déjà 8 552 adhérnets au club!
    </div> <!--//dev-address-->

  </div><!--//dev-nav-->

</header> -->
<div style="margin-top: 80px;">
  <div class="container">
    <% if ( typeof flashMessages !== 'undefined' ) {
      for(let [type, messages] of Object.entries(flashMessages)) {
        for(message of messages){ %>
          <div class="alert alert-<%= type %> fadeIn second" style="text-align: center" role="alert">
            <%= message %>
          </div>
          <%}
        }
      } %>
    </div>

    <%-pageContent%>
  </div>
  <!--dim background effect when open menu-->
  <!-- <div class="dim-overlay" style="display: none"> </div> -->

</body>

<footer>
  <img style="width:100%" src="img/gold_min.png" id="goldBar">
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="logo-container col-sm-4">
        <img src="img/logo_gris.png" class="rounded mx-auto d-block img-fluid" alt="logo">
      </div>
      <div class="social col-sm-4">
        <div class="row">
          <span class="text-center"> Retrouvez moi sur vos réseaux sociaux préférés :</span>
        </div>
        <a href="https://www.facebook.com/profile.php?id=100009631203408" target="_blank"><i class="fa fa-facebook-f fa-lg"></i></a>
        <a href="https://www.instagram.com/youenn_yapronos" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
        <a href="https://www.snapchat.com/add/ya-35" target="_blank"><i class="fa fa-snapchat fa-lg"></i></a>
      </div>
      <div class="risky-play text-center col-sm-4">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <img src="img/snapcode.jpeg" alt="snapcode" class="img-fluid" style="margin: 20px 0px 0px 0px">
            <p class="text-center">ya-35</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-center">
              © Youenn YA Entreprise - 2019 all rights reserved<br>
              <a href="/cgu">CGU</a>/<a href="/cgv">CGV</a> | <a href="/mentions-legales">Mentions légales</a><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="background-color:white">
      <div class="risky-play text-center col-sm-12" style="color:black">
        Jouer comporte des risques : endettement, isolement, dépendance.<br>Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé)
      </div>
    </div>
  </div>
</footer>
<!-- <script src="js/main.js"> </script> -->
</html>
