<!DOCTYPE html>
<html lang="en">
<title><%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <base href="http://localhost:3003"> -->
<base href="https://youennya-pronos.herokuapp.com/">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--Font Awesome-->
<link href="css/fa5/css/all.css" rel="stylesheet" />
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!--jQuery-->
<script
src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous"></script>

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Titillium+Web" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">


<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/hamburgers.css" />

<script src="js/demo.js"> </script>
<script src="https://js.stripe.com/v3/"></script>

<!--Syntax Highlighter (for demo only)-->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"> </script>
<meta name="description" content="<%= description %>" />

<!-- New navbar -->
<link rel="stylesheet" type="text/css" href="css/menu.css">

<script>
setTimeout( function() { scroll(0,0); }, 1);

if(window.location.hash === "#part-historique") {
  setTimeout( function() { scrollToAnchor('#part-historique'); }, 100);
}
function scrollToAnchor(aid){
  var aTag = $(aid);
  $('html,body').animate({scrollTop: aTag.offset().top},'slow');
}
$('.dropdown-toggle').on('click', function(e){
  e.preventDefault();
})
$(document).ready(function(){
  $('#menuLink').on('click', function(){
    if(!$(this).hasClass('active')){
      $(this).addClass('active')
      $(this).css('left', '225px')
      $(this).css('position', 'relative')
    } else {
      $(this).removeClass('active')
      $(this).css('left', '0')
      $(this).css('position', 'fixed')
    }
    e.preventDefault();
  })
})


</script>

<style>
.dropdown-toggle::after {
  content: none;
}

.disabled{
  opacity: 1 !important;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}
</style>

<%-header%>
<body>
  <!-- ********************************
  ********     NAVBAR     ********
  ******************************** -->
  <div class="container-fluid">
    <nav>
      <input type="checkbox" id="mobile-menu-toggle" class="mobile-menu-toggle mobile-menu-toggle-button">
      <ul id="plain-menu" class="mobile-toggleable-menu mobile-left">
        <li style="width:200px">
          <a href="/accueil"><img class="img-fluid" src='/img/logo.png'></a>
        </li>
        <li>
          <button class="btn" type="button">
            <a href="/accueil">ACCUEIL</a>
          </button>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropDownPacks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PACKS
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownPacks">
              <a class="dropdown-item" href="pack/pack-privé">PACK - PRIVE</a>
              <a class="dropdown-item" href="pack/pack-champion">PACK - CHAMPION</a>
              <a class="dropdown-item" href="pack/pack-fun">PACK - FUN</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropDownPronos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PRONOSTICS
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownPronos">
              <a class="dropdown-item" href="/pronos/pack-privé">PRONOSTIC - PRIVE</a>
              <a class="dropdown-item" href="/pronos/pack-champion">PRONOSTIC - CHAMPION</a>
              <a class="dropdown-item" href="/pronos/pack-fun">PRONOSTIC - FUN</a>
            </div>
          </div>
        </li>
        <li>
          <button class="btn" type="button">
            <a href="/accueil#part-historique" onclick="scrollToAnchor('#part-historique')">HISTORIQUE / BILAN</a>
          </button>
        </li>
        <% if(isNullOrUndefined(user)){ %>
          <li>
            <button class="btn" type="button">
              <a href="/connexion">CONNEXION</a>
            </button>
          </li>
          <% } else { %>
            <li>
              <button class="btn" type="button">
                <a href="/espace-perso">ESPACE PERSO</a>
              </button>
            </li>
            <% if(user.isAdmin){ %>
              <li>
                <button class="btn" type="button">
                  <a href="/espace-admin">ESPACE ADMIN</a>
                </button>
              </li>
              <% } %>
              <li>
                <button class="btn" type="button">
                  <a href="/deconnexion">DÉCONNEXION</a>
                </button>
              </li>
              <% } %>
              <li id="div-menu-social">
                <a href="https://www.facebook.com/profile.php?id=100009631203408" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="https://www.instagram.com/youenn_yapronos" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.snapchat.com/add/ya-35" target="_blank"><i class="fab fa-snapchat fa-lg"></i></a>
              </li>
            </ul>
            <a href="" id="menuLink" class="menu-link d-block d-sm-none" >
              <span>
                <label class="mobile-left mobmenu-toggle" for="mobile-menu-toggle"></label>
              </span>
            </a>
          </nav>
        </div>

        <style>
        #layout,
        #menu,
        .menu-link {
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
        }

        .menu-link.active{
          left: 160px;
        }

        #menu {
          margin-left: -160px; /* "#menu" width */
          width: 160px;
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          z-index: 1000; /* so the menu or its navicon stays above all content */
          background: #191818;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
        }
        #menu a {
          color: #999;
          border: none;
          white-space: normal;
          padding: 0.625em 1em;
        }

        #menu .pure-menu-open {
          background: transparent;
          border: 0;
        }

        #menu .pure-menu ul {
          border: none;
          background: transparent;
          display: block;
        }

        #menu .pure-menu ul,
        #menu .pure-menu .menu-item-divided {
          border-top: 1px solid #333;
        }

        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
          background: #333;
        }

        .menu-link {
          position: fixed;
          display: block; /* show this only on small screens */
          top: 0;
          left: 0; /* "#menu width" */
          background: #000;
          background: rgba(0,0,0,0.7);
          font-size: 11px; /* change this value to increase/decrease button size */
          z-index: 10;
          width: 4em;
          height: 4em;
          padding: 1em;
        }

        .menu-link:hover,
        .menu-link:focus {
          background: #000;
        }

        .menu-link span {
          position: relative;
          display: block;
          margin-top: 0.9em;
        }

        .menu-link span,
        .menu-link span:before,
        .menu-link span:after {
          background-color: #fff;
          width: 100%;
          height: .2em;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
        }

        .menu-link span:before,
        .menu-link span:after {
          position: absolute;
          top: -.55em;
          content: " ";
        }

        .menu-link span:after {
          top: .55em;
        }

        .menu-link.active span {
          background: transparent;
        }

        .menu-link.active span:before {
          -webkit-transform: rotate(45deg) translate(.5em, .4em);
          -moz-transform: rotate(45deg) translate(.5em, .4em);
          -ms-transform: rotate(45deg) translate(.5em, .4em);
          -o-transform: rotate(45deg) translate(.5em, .4em);
          transform: rotate(45deg) translate(.5em, .4em);
        }

        .menu-link.active span:after {
          -webkit-transform: rotate(-45deg) translate(.4em, -.3em);
          -moz-transform: rotate(-45deg) translate(.4em, -.3em);
          -ms-transform: rotate(-45deg) translate(.4em, -.3em);
          -o-transform: rotate(-45deg) translate(.4em, -.3em);
          transform: rotate(-45deg) translate(.4em, -.3em);
        }

        #menu .pure-menu-heading {
          font-size: 125%;
          font-weight: 300;
          letter-spacing: 0.1em;
          color: #fff;
          margin-top: 0;
          padding: 0.5em 0.8em;
          text-transform: uppercase;
        }
        #menu .pure-menu-heading:hover,
        #menu .pure-menu-heading:focus {
          color: #999;
        }

        #menu .pure-menu-selected {
          background: #1f8dd6;
        }

        #menu .pure-menu-selected a {
          color: #fff;
        }

        #menu li.pure-menu-selected a:hover,
        #menu li.pure-menu-selected a:focus {
          background: none;
        }


        </style>






        <!-- ********************************
        ********     FLASHMESSAGES     ********
        ******************************** -->
        <div class="container">
          <% if ( typeof flashMessages !== 'undefined' ) {
            for(let [type, messages] of Object.entries(flashMessages)) {
              for(message of messages){ %>
                <div class="alert alert-<%= type %> fadeIn second" style="text-align: center" role="alert">
                  <%= message %>
                </div>
                <%}
              }
            } %>
          </div>



          <!-- ********************************
          ********     PAGE CONTENT     ********
          ******************************** -->

          <%-pageContent%>




          <!-- ********************************
          ********     FOOTER     ********
          ******************************** -->
          <div class="container-fluid">
            <footer>
              <img src="img/gold_min.png" id="gold-bar">
              <div class="container-fluid">
                <div class="row vertical-align">
                  <div class="logo-container col-sm-4">
                    <img src="img/logo.png" class="rounded mx-auto d-block img-fluid" alt="logo">
                  </div>
                  <div class="social col-sm-4">
                    <div class="row text-center">
                      <div class="text-center" style="width: 100%">
                        <span class="text-center"> Retrouvez moi sur vos réseaux sociaux préférés :</span>
                      </div>
                      <div class="text-center" style="width: 100%">
                        <a href="https://www.facebook.com/profile.php?id=100009631203408" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/youenn_yapronos" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.snapchat.com/add/ya-35" target="_blank"><i class="fab fa-snapchat"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="risky-play text-center col-sm-4">
                    <div class="row">
                      <div class="col-6 offset-3 col-md-4 offset-md-4">
                        <img src="img/snapcode.jpeg" id="snap_code" alt="snapcode" class="img-fluid">
                        <p class="text-center" style="font-family:'boldbrush'">SNAPCHAT : ya-35</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="text-center">
                          © Youenn YA Entreprise - 2019 all rights reserved<br>
                          <a href="/cgu">CGU</a>/<a href="/cgv">CGV</a> | <a href="/mentions-legales">Mentions légales</a><br>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row warning-risky-play">
                  <div class="risky-play text-center col-sm-12">
                    Jouer comporte des risques : endettement, isolement, dépendance.<br>Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé)
                  </div>
                </div>
              </div>
            </footer>
          </div>

        </body>
        </html>
