<!DOCTYPE html>
<html lang="en">
<title><%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <base href="http://localhost:3003"> -->
<base href="https://youennya-pronos.herokuapp.com/">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--Font Awesome-->
<link href="css/fa5/css/all.css" rel="stylesheet" />
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!--jQuery-->
<script
src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous"></script>

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Titillium+Web" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">


<link rel="stylesheet" href="css/style.css" />

<script src="js/demo.js"> </script>
<script src="https://js.stripe.com/v3/"></script>

<!--Syntax Highlighter (for demo only)-->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"> </script>
<meta name="description" content="<%= description %>" />

<!-- New navbar -->
<link rel="stylesheet" type="text/css" href="css/menu.css">

<%-header%>
<body>
  <!-- ********************************
  ********     NAVBAR     ********
  ******************************** -->
  <div class="container-fluid">
    <nav>
      <input type="checkbox" id="mobile-menu-toggle" class="mobile-menu-toggle mobile-menu-toggle-button">
      <ul id="plain-menu" class="mobile-toggleable-menu mobile-left">
        <li style="width:200px">
          <a href="/accueil"><img class="img-fluid" src='/img/logo.png'></a>
        </li>
        <li>
          <button class="btn" type="button">
            <a href="/accueil">Accueil</a>
          </button>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropDownPacks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Packs
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownPacks">
              <a class="dropdown-item" href="pack/pack-privé">Pack - Privé</a>
              <a class="dropdown-item" href="pack/pack-champion">Pack - Champion</a>
              <a class="dropdown-item" href="pack/pack-fun">Pack - Fun</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropDownPronos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pronostics
            </button>
            <div class="dropdown-menu" aria-labelledby="dropDownPronos">
              <a class="dropdown-item" href="/pronos/pack-privé">Pronostic - Privé</a>
              <a class="dropdown-item" href="/pronos/pack-champion">Pronostic - Champion</a>
              <a class="dropdown-item" href="/pronos/pack-fun">Pronostic - Fun</a>
            </div>
          </div>
        </li>
        <li>
          <button class="btn" type="button">
            <a href="/historique">Historique</a>
          </button>
        </li>
        <% if(isNullOrUndefined(user)){ %>
          <li>
            <button class="btn" type="button">
              <a href="/connexion">Connexion</a>
            </button>
          </li>
          <% } else { %>
            <li>
              <button class="btn" type="button">
                <a href="/espace-perso">Espace perso</a>
              </button>
            </li>
            <% if(user.isAdmin){ %>
              <li>
                <button class="btn" type="button">
                  <a href="/espace-admin">Espace admin</a>
                </button>
              </li>
              <% } %>
              <li>
                <button class="btn" type="button">
                  <a href="/deconnexion">Déconnexion</a>
                </button>
              </li>
              <% } %>
              <li id="div-menu-social">
                <a href="https://www.facebook.com/profile.php?id=100009631203408" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/youenn_yapronos" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.snapchat.com/add/ya-35" target="_blank"><i class="fab fa-snapchat"></i></a>
              </li>
            </ul>
            <label class="mobile-left mobmenu-toggle" for="mobile-menu-toggle">+</label>
          </nav>
        </div>






        <!-- ********************************
        ********     FLASHMESSAGES     ********
        ******************************** -->
        <div class="container">
          <% if ( typeof flashMessages !== 'undefined' ) {
            for(let [type, messages] of Object.entries(flashMessages)) {
              for(message of messages){ %>
                <div class="alert alert-<%= type %> fadeIn second" style="text-align: center" role="alert">
                  <%= message %>
                </div>
                <%}
              }
            } %>
          </div>



          <!-- ********************************
          ********     PAGE CONTENT     ********
          ******************************** -->

          <%-pageContent%>




          <!-- ********************************
          ********     FOOTER     ********
          ******************************** -->
          <div class="container-fluid">
            <footer>
              <img src="img/gold_min.png" id="gold-bar">
              <div class="container-fluid">
                <div class="row vertical-align">
                  <div class="logo-container col-sm-4">
                    <img src="img/logo.png" class="rounded mx-auto d-block img-fluid" alt="logo">
                  </div>
                  <div class="social col-sm-4">
                    <div class="row text-center">
                      <div class="text-center" style="width: 100%">
                        <span class="text-center"> Retrouvez moi sur vos réseaux sociaux préférés :</span>
                      </div>
                      <div class="text-center" style="width: 100%">
                        <a href="https://www.facebook.com/profile.php?id=100009631203408" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/youenn_yapronos" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.snapchat.com/add/ya-35" target="_blank"><i class="fab fa-snapchat"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="risky-play text-center col-sm-4">
                    <div class="row">
                      <div class="col-6 offset-3 col-md-4 offset-md-4">
                        <img src="img/snapcode.jpeg" id="snap_code" alt="snapcode" class="img-fluid">
                        <p class="text-center" style="font-family:'boldbrush'">SNAPCHAT : ya-35</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="text-center">
                          © Youenn YA Entreprise - 2019 all rights reserved<br>
                          <a href="/cgu">CGU</a>/<a href="/cgv">CGV</a> | <a href="/mentions-legales">Mentions légales</a><br>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="background-color:white">
                  <div class="risky-play text-center col-sm-12" style="color:black">
                    Jouer comporte des risques : endettement, isolement, dépendance.<br>Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé)
                  </div>
                </div>
              </div>
            </footer>
          </div>

        </body>
        </html>
