<!DOCTYPE html>
<html lang="en">
<title><%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="http://localhost:3003">

<!--Font Awesome-->
<link href="css/fa5/css/all.css" rel="stylesheet" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--jQuery-->
<script
src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
crossorigin="anonymous"></script>

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Titillium+Web" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

<!--Developer Nav Script-->
<!-- <script src="js/developer-nav.js"> </script> -->

<!--Developer Nav CSS-->
<!-- <link rel="stylesheet" href="css/developer-nav.css" /> -->

<link rel="stylesheet" href="css/style.css" />


<!--Demo Only Scripts-->
<!--Demo main script-->
<script src="js/demo.js"> </script>
<script src="https://js.stripe.com/v3/"></script>

<!--Syntax Highlighter (for demo only)-->
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"> </script>
<meta name="description" content="<%= description %>" />

<%-header%>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/accueil">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Packs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pack/pack-fun">Pack-fun</a>
            <a class="dropdown-item" href="/pack/pack-champion">Pack-champion</a>
            <a class="dropdown-item" href="/pack/pack-prive">Pack-prive</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pronostics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pronos/pack-fun">Pack-fun</a>
            <a class="dropdown-item" href="/pronos/pack-champion">Pack-champion</a>
            <a class="dropdown-item" href="/pronos/pack-prive">Pack-prive</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/connexion">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/espace-perso">Espace perso</a>
        </li>
        <% if(user && user.isAdmin) {%>
          <li class="nav-item">
            <a class="nav-link" href="/espace-admin">Espace admin</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div style="margin-top: 80px;">
      <div class="container">
        <% if ( typeof flashMessages !== 'undefined' ) {
          for(let [type, messages] of Object.entries(flashMessages)) {
            for(message of messages){ %>
              <div class="alert alert-<%= type %> fadeIn second" style="text-align: center" role="alert">
                <%= message %>
              </div>
              <%}
            }
          } %>
        </div>

        <%-pageContent%>
      </div>
      <!--dim background effect when open menu-->
      <!-- <div class="dim-overlay" style="display: none"> </div> -->

    </body>

    <footer>
      <img style="width:100%" src="img/gold_min.png" id="goldBar">
      <div class="container-fluid">
        <div class="row vertical-align">
          <div class="logo-container col-sm-4">
            <img src="img/logo_gris.png" class="rounded mx-auto d-block img-fluid" alt="logo">
          </div>
          <div class="social col-sm-4">
            <div class="row">
              <span class="text-center"> Retrouvez moi sur vos réseaux sociaux préférés :</span>
            </div>
            <a href="https://www.facebook.com/profile.php?id=100009631203408" target="_blank"><i class="fa fa-facebook-f fa-lg"></i></a>
            <a href="https://www.instagram.com/youenn_yapronos" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
            <a href="https://www.snapchat.com/add/ya-35" target="_blank"><i class="fa fa-snapchat fa-lg"></i></a>
          </div>
          <div class="risky-play text-center col-sm-4">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <img src="img/snapcode.jpeg" alt="snapcode" class="img-fluid" style="margin: 20px 0px 0px 0px">
                <p class="text-center">ya-35</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-center">
                  © Youenn YA Entreprise - 2019 all rights reserved<br>
                  <a href="/cgu">CGU</a>/<a href="/cgv">CGV</a> | <a href="/mentions-legales">Mentions légales</a><br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="background-color:white">
          <div class="risky-play text-center col-sm-12" style="color:black">
            Jouer comporte des risques : endettement, isolement, dépendance.<br>Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé)
          </div>
        </div>
      </div>
    </footer>
    <!-- <script src="js/main.js"> </script> -->
    </html>
